sudo: required
dist: trusty
language: node_js
node_js:
  - "4"
  - "5"
  - "6"
before_install:
  - sudo apt-get -y install python3-pip python-dev
  - sudo pip3 install -U setuptools
  - sudo pip3 install -U virtualenvwrapper
  - python3 -V
  - pip3 -V
install:
  - npm install
  - sudo pip3 install flake8
after_script:
  - npm run coveralls
